version,0,0,0:0.9.0
scale,0,0,0:1.000000
useAlias,0,0,0:0
Text Box,237,80,0:12,5,4,https://lcgamboa.github.io/picsimlab_examples/board_PICGenios.html#board_PICGenios_PIC18F4550_espmsim_server%Examplesource info
